<%- include('partials/_header') %>

<div class="text-center py-20">
    <h1 class="text-3xl font-bold text-red-600 mb-4">Oops! Something went wrong.</h1>
    <p class="text-lg text-slate-700"><%= message %></p>
    <a href="/" class="mt-8 inline-block bg-indigo-600 text-white font-bold py-2 px-4 rounded-lg hover:bg-indigo-700 transition-colors">
        Go back home
    </a>
</div>

<%- include('partials/_footer') %>
