@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add some base styles for better typography and feel */
@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-gray-50 text-gray-700 antialiased;
  }
}
